<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Transforming ideas into digital reality.</p>
                <div class="row">
                   <div class="col-md-6 col-12 hero-text ">
                        <figure>
                            <img src="Images/about.svg" alt="Hero Section Image">
                        </figure>
                    </div>
                    {{!-- Right Side --}}
                     <div class="col-md-6 col-12 hero-text  align-items-start d-flex justify-content-center flex-column">
                        
                        <h1>Empowering your</h1>
                        <h1>digital presence</h1>
                        <p>Welcome to our professional web development team! With extensive expertise and a passion for excellence, we deliver exceptional web solutions tailored to your needs. Trust us to bring your vision to life with <span class="bold-style">professionalism, reliability, and cutting-edge technology.</span></p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>